@page "/"
@inject IBlazorLocalizer loc

<h1>@loc["Hello, world!"]</h1>

@loc["Welcome to your new app."]

<p>@loc["This text on page Index.razor has no translation - hence ResourceProviderImplementation.AddMissingKey() will be called"]</p>
